body{
	margin: 0;
	padding: 0;
	background-color: #e7e7e7 !important;
}

.card-cuestionarios{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25% !important;
	border-radius: 15px;
}

.img-logo-seg{
	width: 100%;
}

.collection-item{
	color: black !important;
	font-size: 17px !important;
	font-weight: 600;
}

.seg-container{
	display: flex;
	justify-content: center;
	width: 100% !important;
	margin-left: 0 !important;
	margin-bottom: 35px;
}

.seg-section{
	margin: 5px !important;
	padding: 15px 5px 5px 5px !important;
}

.seg-section-title{
	font-size: 14px;
}

.title-encuesta{
	margin-bottom: 23px;
}

.collection{
	border-radius: 15px !important;
	margin-bottom: 0 !important;
}

@media (max-width: 751px) {
	.seg-container{
		display: flex;
		justify-content: center;
		width: 100% !important;
		margin-left: 0 !important;
		margin-bottom: 35px;
	}

	.card-cuestionarios{
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90% !important;
	}
	
}

@media (min-width: 752px) {
	.seg-container{
		display: flex;
		justify-content: center;
		width: 100% !important;
		margin-left: 0 !important;
		margin-bottom: 35px;
	}

	.card-cuestionarios{
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50% !important;
	}
	
}

@media (min-width: 1242px) {
	.seg-container{
		display: flex;
		justify-content: center;
		width: 100% !important;
		margin-left: 0 !important;
		margin-bottom: 35px;
	}

	.card-cuestionarios{
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 25% !important;
	}
	
}
